/backups/
/bin/
/conf/
/docs/
/eclipse/*
!/eclipse/CraftBukkit/
/eclipse/CraftBukkit/*
!/eclipse/CraftBukkit/src/
/jars/
/lib/
/logs/
/reobf/
/runtime/
/src/minecraft_server/
/src/minecraft/net/minecraft/*
!/src/minecraft/net/minecraft/src/
/src/minecraft/net/minecraft/src/*
!/src/minecraft/net/minecraft/src/mod_AetherMp.java
/temp/
/versions/
cleanup.bat
decompile.bat
recompile.bat
reobfuscate.bat
setup.bat
startclient.bat
startserver.bat
updatemcp.bat
updatemd5.bat